<%= form_for :parqueo, url: parqueos_path do |f| %>
  <% if @parqueo.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@parqueo.errors.count, "error") %> prohibió
          que el registro de salida fuera guardado:
      </h2>
      <ul>
        <% @parqueo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.fields_for @parqueo.automovil do |f| %>
      <%= f.label :placa %><br>
      <%= f.text_field :placa %>
      <%= f.submit "Registrar Salida" %>
    <% end %>
  </p>

  <% if @parqueo.valor_servicio and not @parqueo.errors.any? %>
  <p>
    <%= f.label :hora_entrada %>: <%= @parqueo.hora_entrada %><br>
    <%= f.label :hora_salida %>: <%= @parqueo.hora_salida %><br>
    <%= f.label :valor_servicio %>: <%= @parqueo.valor_servicio %>
  </p>
  <% end %>
<% end %>