<%= form_for :parqueo, url: parqueos_path do |f| %>
  <p>
    <%= f.fields_for @parqueo.automovil do |f| %>
      <%= f.label :placa %><br>
      <%= f.text_field :placa %>
      <%= f.submit "Registrar Salida" %>
    <% end %>
  </p>
<% end %>