<%= form_for :parqueo, url: parqueos_path do |f| %>
  <h2>
    Registro de Entrada
  </h2>

  <p style="color: red">
  IMPORTANTE: Esta pantalla es para uso exclusivo del equipo de pruebas para generar escenarios de entrada de vehículos y no hace parte de los requerimientos que serán entregados finalmente al cliente.
  </p>

  <% if @parqueo.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@parqueo.errors.count, "error") %> prohibió
          que el registro de salida fuera guardado:
      </h2>
      <ul>
        <% @parqueo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.fields_for @parqueo.automovil do |f| %>
      <%= f.label :placa %><br>
      <%= f.text_field :placa %>
    <% end %>
  </p>

  <p>
    <%= f.label :hora_entrada %><br>
    <%= f.datetime_select :hora_entrada %>
  </p>

  <p>
    <%= f.submit "Registrar Entrada" %>
  </p>
<% end %>

<h2>
  Listado de Parqueos
</h2>

<table>
  <tr>
    <th>Placa</th>
    <th>Hora Entrada</th>
    <th>Hora Salida</th>
    <th>Valor Servicio</th>
  </tr>

  <% @parqueos.each do |parqueo| %>
    <tr>
      <td><%= parqueo.automovil.placa %></td>
      <td><%= parqueo.hora_entrada %></td>
      <td><%= parqueo.hora_salida %></td>
      <td><%= parqueo.valor_servicio %></td>
    </tr>
  <% end %>
</table>